In [ ]:
import pandas as pd
import requests
import json

# 1st step: write code that does everything for a single city

In [ ]:
city = "Berlin"
api_key = "YOUR-API-KEY-HERE"

In [ ]:
weather_city = requests.get(f"http://api.openweathermap.org/data/2.5/forecast?q={city}&appid={api_key}&units=metric")
json = weather_city.json()
json

In [ ]:
# create a dictionary that contains empty lists we want to fill with data from the json
weather_dict = {"city": [],
                "date_time": [],
                "temp": []
                #"wind_speed": []
                }

# iterate over the dictionaries/forecasts
# for each, get the temperature
# for each, also get the city name (= the same each time)
for i in range(len(json["list"])):
  weather_dict["temp"].append(json["list"][i]["main"]["temp"])
  weather_dict["date_time"].append(json["list"][i]["dt_txt"])
  weather_dict["city"].append(json["city"]["name"])

weather_df = pd.DataFrame(weather_dict)

In [ ]:
weather_df

# Second step: copy+paste your code from above and tweak it to run inside a for loop that can handle multiple cities

In [ ]:
cities = ["Berlin", "Bremen", "Munich", "Muenster"]
api_key = "YOUR-API-KEY-HERE"

# create a dictionary that contains empty lists we want to fill with data from the json
weather_dict = {"city": [],
                "date_time": [],
                "temp": []
                }

for i in range(len(cities)):
  weather_city = requests.get(f"http://api.openweathermap.org/data/2.5/forecast?q={cities[i]}&appid={api_key}&units=metric")
  json = weather_city.json()

# alternative:
# for city in cities:
#  weather_city = requests.get(f"http://api.openweathermap.org/data/2.5/forecast?q={city}&appid={api_key}&units=metric")
#  json = weather_city.json()

  for j in range(len(json["list"])):
    weather_dict["temp"].append(json["list"][j]["main"]["temp"])
    weather_dict["date_time"].append(json["list"][j]["dt_txt"])
    weather_dict["city"].append(json["city"]["name"])
# alternative    weather_dict["city"].append(cities[i])

weather_df = pd.DataFrame(weather_dict)

In [ ]:
weather_df["city"].unique()

array(['Berlin', 'Bremen', 'Munich', 'Münster'], dtype=object)

# Third step: copy+paste your code with the cities for loop and tweak such that it will work inside a function.
Here, the argument to the function will be a list with city names called "cities". This is because before, we explicitly defined the cities variable to be exactly that (= a list with city names). Therefore, the logic of our code inside the function does not need to change really because as long as gets the same type of input, it doesn't matter whether it comes from an explicit statement or from the function call.

In [ ]:
def weather_baby(cities):

  api_key = "YOUR-API-KEY-HERE"

# create a dictionary that contains empty lists we want to fill with data from the json
  weather_dict = {"city": [],
                  "date_time": [],
                  "temp": []
                  }

  for i in range(len(cities)):
    weather_city = requests.get(f"http://api.openweathermap.org/data/2.5/forecast?q={cities[i]}&appid={api_key}&units=metric")
    json = weather_city.json()

# alternative:
# for city in cities:
#  weather_city = requests.get(f"http://api.openweathermap.org/data/2.5/forecast?q={city}&appid={api_key}&units=metric")
#  json = weather_city.json()

    for j in range(len(json["list"])):
      weather_dict["temp"].append(json["list"][j]["main"]["temp"])
      weather_dict["date_time"].append(json["list"][j]["dt_txt"])
      weather_dict["city"].append(json["city"]["name"])
# alternative    weather_dict["city"].append(cities[i])

  weather_df = pd.DataFrame(weather_dict)
  return weather_df

In [ ]:
weather_baby(["Berlin"])

In [ ]:
weather_baby(["Bremen", "Düsseldorf"])

          city            date_time   temp
0       Bremen  2023-03-31 12:00:00  10.64
1       Bremen  2023-03-31 15:00:00  10.28
2       Bremen  2023-03-31 18:00:00   9.46
3       Bremen  2023-03-31 21:00:00   8.61
4       Bremen  2023-04-01 00:00:00   8.42
..         ...                  ...    ...
75  Düsseldorf  2023-04-04 21:00:00   4.85
76  Düsseldorf  2023-04-05 00:00:00   3.29
77  Düsseldorf  2023-04-05 03:00:00   2.11
78  Düsseldorf  2023-04-05 06:00:00   2.06
79  Düsseldorf  2023-04-05 09:00:00   6.17

[80 rows x 3 columns]