# Intro to web scraping

The first step of web scraping is to identify a website and download the html code from it. 

Real html from websites tends to be long and a bit too chaotic for a total beginner. Here we will start with a dummy html document and learn the basics of extracting info with beautifulsoup.

In [81]:
html_doc = """
<!DOCTYPE html>
<html><head><title>The Dormouse's story</title></head>
<body>
<p class="title"><b>The Dormouse's story</b></p>

<p class="story">Once upon a time there were three little sisters; and their names were
<a href="http://example.com/elsie" class="sister" id="link1">Elsie</a>,
<a href="http://example.com/lacie" class="sister" id="link2">Lacie</a> and
<a href="http://example.com/tillie" class="sister" id="link3">Tillie</a>;
and they lived at the bottom of a well.</p>

<p class="story">...</p>
</html>
"""

In [82]:
html_doc

'\n<!DOCTYPE html>\n<html><head><title>The Dormouse\'s story</title></head>\n<body>\n<p class="title"><b>The Dormouse\'s story</b></p>\n\n<p class="story">Once upon a time there were three little sisters; and their names were\n<a href="http://example.com/elsie" class="sister" id="link1">Elsie</a>,\n<a href="http://example.com/lacie" class="sister" id="link2">Lacie</a> and\n<a href="http://example.com/tillie" class="sister" id="link3">Tillie</a>;\nand they lived at the bottom of a well.</p>\n\n<p class="story">...</p>\n</html>\n'

In [83]:
from bs4 import BeautifulSoup
!pip install --upgrade beautifulsoup4

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.9/dist-packages (4.12.0)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.9/dist-packages (from beautifulsoup4) (2.4)

#### "creating the soup"

In [84]:
# parse the element
soup = BeautifulSoup(html_doc, 'html.parser')

In [85]:
soup.prettify

<bound method Tag.prettify of
<!DOCTYPE html>

<html><head><title>The Dormouse's story</title></head>
<body>
<p class="title"><b>The Dormouse's story</b></p>
<p class="story">Once upon a time there were three little sisters; and their names were
<a class="sister" href="http://example.com/elsie" id="link1">Elsie</a>,
<a class="sister" href="http://example.com/lacie" id="link2">Lacie</a> and
<a class="sister" href="http://example.com/tillie" id="link3">Tillie</a>;
and they lived at the bottom of a well.</p>
<p class="story">...</p>
</body></html>
>

#### accessing single elements

In [86]:
soup.title

In [87]:
soup.title.string

"The Dormouse's story"

In [88]:
soup.title.parent.name

'head'

In [89]:
soup.body

<body>
<p class="title"><b>The Dormouse's story</b></p>
<p class="story">Once upon a time there were three little sisters; and their names were
<a class="sister" href="http://example.com/elsie" id="link1">Elsie</a>,
<a class="sister" href="http://example.com/lacie" id="link2">Lacie</a> and
<a class="sister" href="http://example.com/tillie" id="link3">Tillie</a>;
and they lived at the bottom of a well.</p>
<p class="story">...</p>
</body>

In [90]:
# this method only retrieves the first element of the specified tag
soup.p

#### finding all elements of a tag with find_all()

In [91]:
p_tags = soup.find_all("p")

In [92]:
p_tags

[<p class="title"><b>The Dormouse's story</b></p>,
 <p class="story">Once upon a time there were three little sisters; and their names were
 <a class="sister" href="http://example.com/elsie" id="link1">Elsie</a>,
 <a class="sister" href="http://example.com/lacie" id="link2">Lacie</a> and
 <a class="sister" href="http://example.com/tillie" id="link3">Tillie</a>;
 and they lived at the bottom of a well.</p>,
 <p class="story">...</p>]

In [93]:
for p in p_tags:
    print(p.get_text())

The Dormouse's story
Once upon a time there were three little sisters; and their names were
Elsie,
Lacie and
Tillie;
and they lived at the bottom of a well.
...

#### Using css selectors

https://htmlcheatsheet.com/css/

In [94]:
# select all elements with class="title"
soup.select(".title")

In [95]:
# select all elements with class="sister"
soup.select(".sister")

[<a class="sister" href="http://example.com/elsie" id="link1">Elsie</a>,
 <a class="sister" href="http://example.com/lacie" id="link2">Lacie</a>,
 <a class="sister" href="http://example.com/tillie" id="link3">Tillie</a>]

In [96]:
# select "all" elements with the id="link2"
soup.select("#link2")

We can combine the `select()` method with other bs4 methods, such as `get_text()`.

`get_text()`, however, can only be applied to single elements, while `select()` might return multiple elements. It's common to iterate through the output of `select()`

In [97]:
print(soup.select("p.story")[0].get_text())

Once upon a time there were three little sisters; and their names were
Elsie,
Lacie and
Tillie;
and they lived at the bottom of a well.

In [98]:
for p in soup.select("p.story"):
    print(p.get_text())

Once upon a time there were three little sisters; and their names were
Elsie,
Lacie and
Tillie;
and they lived at the bottom of a well.
...

### Your turn:

Write code to print the following contents (not including the html tags, only human-readable text): 

1. All the "fun facts". 

2. The names of all the places. 

3. The content (name and fact) of all the cities (only cities, not countries!) 

4. The names (not facts!) of all the cities (not countries!)

In [99]:
geography = """
<!DOCTYPE html>
<html>
<head> Geography</head>
<body>

<div class="city">
  <h2>London</h2>
  <p>London is the most popular tourist destination in the world.</p>
</div>

<div class="city">
  <h2>Paris</h2>
  <p>Paris was originally a Roman City called Lutetia.</p>
</div>

<div class="country">
  <h2>Spain</h2>
  <p>Spain produces 43,8% of all the world's Olive Oil.</p>
</div>

</body>
</html>
"""

In [100]:
geography

'\n<!DOCTYPE html>\n<html>\n<head> Geography</head>\n<body>\n\n<div class="city">\n  <h2>London</h2>\n  <p>London is the most popular tourist destination in the world.</p>\n</div>\n\n<div class="city">\n  <h2>Paris</h2>\n  <p>Paris was originally a Roman City called Lutetia.</p>\n</div>\n\n<div class="country">\n  <h2>Spain</h2>\n  <p>Spain produces 43,8% of all the world\'s Olive Oil.</p>\n</div>\n\n</body>\n</html>\n'

In [101]:
# Create the "soup"
soup = BeautifulSoup(geography, 'html.parser')

In [102]:
soup.prettify

<bound method Tag.prettify of
<!DOCTYPE html>

<html>
<head> Geography</head>
<body>
<div class="city">
<h2>London</h2>
<p>London is the most popular tourist destination in the world.</p>
</div>
<div class="city">
<h2>Paris</h2>
<p>Paris was originally a Roman City called Lutetia.</p>
</div>
<div class="country">
<h2>Spain</h2>
<p>Spain produces 43,8% of all the world's Olive Oil.</p>
</div>
</body>
</html>
>

In [103]:
p_tags = soup.find_all('p')

In [104]:
# 1. All the "fun facts"
for p in p_tags:
  print(p.get_text())

London is the most popular tourist destination in the world.
Paris was originally a Roman City called Lutetia.
Spain produces 43,8% of all the world's Olive Oil.

In [105]:
#pj
# soup = BeautifulSoup(geography)
# places = soup.find_all("div", {"class": ["city", "country"]})
# for place in places:
#     name = place.find("h2").get_text()
#     print(name)

In [106]:
cities = soup.find_all('h2')

In [107]:
# 2. The names of all the places.
for h2 in cities:
  print(h2.get_text())

London
Paris
Spain

In [108]:
# 3. All the content (name and fact) of all the cities (only cities, not countries!)

for city in soup.select('.city'):
  print(city.get_text())

London
London is the most popular tourist destination in the world.


Paris
Paris was originally a Roman City called Lutetia.

In [109]:
# 4. The names (not facts!) of all the cities (not countries!)

for city in soup.select('.city h2'):
  print(city.get_text())

London
Paris

In [110]:
#alternative solution


# select all city <div> elements and extract the city names
city_names = [div.h2.get_text() for div in soup.select('div.city')]

# print the city names
for city in city_names:
    print(city)

London
Paris

## Use case: imdb top charts

Let's go to https://www.imdb.com/chart/top, where we'll see the top 250 movies according to IMDb ratings.

Notice how each movie has the following elements:

- Title

- Release Year

- IMDb rating

- Director & main stars (they appear when you hover over the title)

Our objective is going to be to scrape this information and store it in a pandas dataframe.

In [111]:
# 1. import libraries
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [112]:
# 2. find url and store it in a variable
url = "https://www.imdb.com/chart/top"

In [114]:
# 3. download html with a get request
headers = {'Accept-Language': 'en-US,en;q=0.8'}
response = requests.get(url, headers = headers)
response.status_code # 200 status code means OK!

200

In [115]:
# 4.1. parse html (create the 'soup')
soup = BeautifulSoup(response.content, "html.parser")
# 4.2. check that the html code looks like it should
# soup

In [ ]:
soup.select("td.titleColumn") # all the info about all the movies

In [ ]:
soup.select("td.titleColumn a") # all elements containing movie titles

In [ ]:
# we can use .get_text() to extract the content of the tags we selected
# we'll need to do it to each tag with a for loop: here we do it to the first one
soup.select("td.titleColumn a")[0].get_text()

'The Shawshank Redemption'

In [ ]:
# the director and main stars are in the same tag, but as a value of the attribute "title"
# we can access attributes as key-value pairs of dictionaries: using ["key"] to get the value:
soup.select("td.titleColumn a")[0]["title"]

'Frank Darabont (dir.), Tim Robbins, Morgan Freeman'

In [ ]:
# instead of ["title"] we could use .get("title"): choose whatever you prefer

soup.select("td.titleColumn a")[0].get("title")

'Frank Darabont (dir.), Tim Robbins, Morgan Freeman'

In [ ]:
# the years are inside a 'span' tag with the 'secondaryInfo' class
# we also specify the parent tag and its class, which is the same we used before
# the years are inside parentheses, but we'll take care of that later
soup.select("td.titleColumn span.secondaryInfo")[0].get_text()

'(1994)'

### Storing information in lists

In [ ]:
#initialize empty lists
title = []
dir_stars = []
year = []

In [ ]:
# define the number of iterations of our for loop 
# by checking how many elements are in the retrieved result set
# (this is equivalent but more robust than just explicitly defining 250 iterations)
num_iter = len(soup.select("td.titleColumn a"))

In [ ]:
num_iter

250

In [ ]:
#table = soup.select("tbody > tr")

In [ ]:
#table[2].select("td.titleColumn a")

In [ ]:
# iterate through the result set and retrive all the data
for i in range(num_iter):
    title.append(soup.select("td.titleColumn a")[i].get_text())
    dir_stars.append(soup.select("td.titleColumn a")[i]["title"])
    year.append(soup.select("td.titleColumn span.secondaryInfo")[i].get_text())

In [ ]:
title

In [ ]:
dir_stars

In [ ]:
year

### Storing information in pandas DataFrames

If you get an error try this: 
assert len(title) == len(dir_stars) == len(year)

In [ ]:
import pandas as pd

In [ ]:
movies_df = pd.DataFrame(
    {"movie_name": title,
     "director_stars": dir_stars,
     "release_year": year
    }
)

In [ ]:
movies_df.head()

,movie_name,director_stars,release_year
0,The Shawshank Redemption,"Frank Darabont (dir.), Tim Robbins, Morgan Fre...",(1994)
1,The Godfather,"Francis Ford Coppola (dir.), Marlon Brando, Al...",(1972)
2,The Dark Knight,"Christopher Nolan (dir.), Christian Bale, Heat...",(2008)
3,The Godfather Part II,"Francis Ford Coppola (dir.), Al Pacino, Robert...",(1974)
4,12 Angry Men,"Sidney Lumet (dir.), Henry Fonda, Lee J. Cobb",(1957)

In [ ]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   movie_name      250 non-null    object
 1   director_stars  250 non-null    object
 2   release_year    250 non-null    object
dtypes: object(3)
memory usage: 6.0+ KB

#### Challenge: Cleaning the data

An inherent part of web scraping is data cleaning. We managed to get the information we needed, but for it to be useful, we still need some extra steps:

- Take the year out of the parentheses: we know we can totally do that with regex, but string methods such as str.replace() might be simpler to use. Additionally, this column should be turned into a numerical data type.

- Split dir_stars into 3 columns, one for each person: "director", "star_1", "star_2". This could have been done by filtering when extracting the data from the html document, but it looks easier afterwards:

    - The "(dir.)" pattern can be totally removed
    - We can split the string at each comma